* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  transition: 400ms;
}

.App.dark{
  background-color: black;
  color: #dddddd;
  
}



.Main{
  overflow: hidden;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 50px;
}

@media only screen and (max-width: 1000px) {
  
  
}

@media only screen and (max-width: 500px) {
  
  .Main{
    padding: 30px;
  }
}
